/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face{
	src:url("../assets/OpenSans-CondLight.ttf");
	fontStyle: normal;
	fontWeight: normal;
	fontFamily: OS-condLight;
}
@font-face{
	src:url("../assets/OpenSans-Regular.ttf");
	fontStyle: normal;
	fontWeight: normal;
	fontFamily: OS-reg;
}
@font-face{
	src:url("../assets/OpenSans-Bold.ttf");
	fontStyle: normal;
	fontWeight: normal;
	fontFamily: OS-bold;
}
@font-face{
	src:url("../assets/OpenSans-CondBold.ttf");
	fontStyle: normal;
	fontWeight: normal;
	fontFamily: OS-condBold;
}
